<div class="container">

  <div class="page-header">
    <h1>Cadastro de vagas</h1>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <form>
        <div class="form-group">
          <label for="nome">Empresa</label>
          <input type="text" class="form-control" id="empresa">
        </div>

        <div class="form-group">
          <label for="requesitos">Requesitos</label>
          <input type="text" class="form-control" id="requesitos">
        </div>

        <div class="form-group">
          <label for="salario">remuneração</label>
          <input type="number" class="form-control" id="salario">
        </div>

        <div class="form-group">
          <label for="salario">Contato</label>
          <input type="email" class="form-control" id="email">
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox"> Aceito os termos do serviço.
          </label>
        </div>
      </form>

    </div>
  </div>
</div>
