<form class="form-control">
    <div class="row">
        <div class="col-6">
            <label for="">Usuario </label>
            <input  class="form-control" placeholder="Usuario" readonly  type="text" name=""/>
        </div>
    </div> 
    
    <div class="row">
        <div class="col-6">
            <label for="">Nome da Empresa</label>
            <input  class="form-control" type="text" placeholder="Nome da empresa" name=""/>
        </div>
    </div>    
    
    <div class="row">
        <div class="col-6">
            <label for="">Email</label>
            <input  class="form-control" type="Email" placeholder="EasyJob@Gmail" name=""/>
        </div>
    </div>    
    
    <div class="row">
        <div class="col-6">
            <label for="">Endereço</label>    
            <input class="form-control" placeholder="RUA MARINGA" type="text" name=""/>
        </div>
    </div>
    
    <div class="row">
        <div class="col-6">
            <label for="">Telefone</label>
            <input class="form-control" placeholder="32131-32" type="text" name=""/>
        </div>
   </div>
   <div class="row">
        <div class="col-6">
        <label for="">senha</label>
        <input class="form-control"   placeholder="********" type="password" name=""/>
        </div>
     
   </div>

    <div class="row">
        <div class="col">
            <button type="submi" class="btn btn-outline-primary ">voltar</button>
            <button type="submi" class="btn btn-outline-primary ">confirmar</button>      
         </div>
    </div> 
     
</form>
