<form>
  <div class="row">
    <div class="col-4">
      <input type="text" class="form-control" placeholder="CEP" id="cep" ng-model="cep">
    </div>
    <div class="col-2">
      <button class="btn btn-default" ng-click="buscaCep(cep)">
        Buscar
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <input type="text" class="form-control" placeholder="Logradouro" id="logradouro">
    </div>
    <div class="col-3">
      <input type="text" class="form-control" placeholder="Número" id="numero">
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <input type="text" class="form-control" placeholder="Bairro" id="bairro">
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Complemento" id="complemento">
    </div>
  </div>
</form>
