<nav class="navbar fixed-top navbar-toggleable-sm bg-faded col-m-8">
  <div class="container">
  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      <span> </span>
      <span> </span>
      <span> </span>
  </button>
  <a class="navbar-brand" href="">
      EasyJob <i class="hidden-sm-down fa fa-star-o"></i>
  </a>
  <div class="collapse navbar-collapse" id="collapsingNavbar">
      <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
          <li class="nav-item">
              <a class="nav-link" href=""><span  style="padding: 0">Quem somos</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href=""><span>Contato</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link btn-login" href="" data-toggle="modal" data-target="#loginModal"><span>Login</span></a>
          </li>
      </ul>
  </div>
  </div>
  </div>
</nav>


<!-- Login Modal -->
<div class="modal fade" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="col-11 modal-title text-center">Login</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form class="" ng-submit="loginUser()">
          <div class="form-group">
            <label for="usuario">Usuário</label>
            <input type="text" class="form-control" id="usuario" placeholder="Digite o seu usuário..." ng-model="login.user" required>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Digite sua senha..." ng-model="login.password" required>
            <small id="passwordHelp" class="form-text text-muted">Dica: Nunca compartilhe sua senha.</small>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" ng-model="login.autoLogin">
              Mantenha-me conectado!
            </label>
          </div>
          <br><br>
          <button type="submit" class="btn btn-block btn-primary">ENTRAR</button>
          <br><br>
          <div class="form-group text-center">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#cadastroModal">Cadastrar-me</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Cadastro Modal -->
<div class="modal fade" id="cadastroModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="col-11 modal-title text-center">Novo Usuário</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form ng-submit="cadastrarUsuario()">
          <div class="form-group">
            <label for="usuario">Nome Completo</label>
            <input type="text" class="form-control" placeholder="Nome completo" required ng-model="pessoa.nome">
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" id="email" class="form-control" placeholder="E-mail" required ng-model="pessoa.email">
          </div>
          <div class="form-group">
            <label for="candidato">Candidato</label>
            <input type="radio" id="candidato" checked="checked" ng-model="pessoa.tipo" value="1">
            <label for="empresa">Empresa</label>
            <input type="radio" id="empresa" ng-model="pessoa.tipo" value="2">
          </div>
          <div class="form-group">
            <span for="usuario">Usuário</span>
            <input type="text" id="usuario" class="form-control" placeholder="Usuário" required ng-model="pessoa.usuario">
          </div>
          <div class="form-group">
            <span for="pw">Senha</span>
            <input type="password" id="pw" class="form-control" placeholder="Senha" required ng-model="pessoa.senha">
          </div>
          <div class="form-group">
            <span for="confirmPw">Repita a senha</span>
            <input type="password" id="confirmPw" class="form-control" placeholder="Confirma Senha" required ng-model="pessoa.confirmaSenha">
          </div>
          <button type="submit" class="btn btn-block btn-success">Cadastrar-se</button>
        </form>
      </div>
    </div>
  </div>
</div>
