<nav class="navbar fixed-top navbar-toggleable-sm bg-faded">
  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      <span> </span>
      <span> </span>
      <span> </span>
  </button>
  <a class="navbar-brand" href="">
      EasyJob <i class="hidden-sm-down fa fa-star-o"></i>
  </a>
  <div class="collapse navbar-collapse" id="collapsingNavbar">
      <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
          <li class="nav-item" ng-repeat="item in menu | orderBy: 'ORDEMMENU'">
              <a class="nav-link" ui-sref="{{item.STATE}}" data-toggle="tooltip" data-placement="bottom" title="{{item.DESCRICAO}}">{{item.LINK}}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link btn-login">Sair</a>
          </li>
      </ul>
  </div>
</nav>

<!-- Carrega as vies dos usuários -->
<div ui-view></div>
