
@import url('https://fonts.googleapis.com/css?family=Roboto');

.container-fluid{
  padding: 0px !important;
}
.navbar .container {
  position: initial;
}

body, div, a, ul, li, span, p {
    font-family: 'Roboto', sans-serif;
}

.container-banner{
  height: 500px;
}
.banner-text{
  position: relative;
  top: 45%;
  z-index: 2;
  width: 800px;
  margin: auto;
  color: white;
}
.banner-img{
  position: absolute;
  top:-200px;
  z-index: 1;
  filter: brightness(30%); blur(5px);
}
.card{
  min-height: 300px;
}
.card-block{
  color: #4c4c4c;
}
footer{
  background-color: #2980b9;
}
.img-entrevista{
  width: 100%;
}
.rodape{
  color: white;
}
/*-- Menu responsive --*/
.navbar{
  background-color: rgb(25, 125, 198);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15)
}
.nav-link{
  color: rgb(255, 255, 255);
  padding: 5px 0;
}
.nav-link span{
  padding: 0 20px;
}
.nav-item{
  text-align: center
}
.navbar-brand{
  color: rgb(252, 252, 252);
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.helper-contato{
  font-size: 1.2em;
}
.links-uteis{
  font-size: 1.2em;

}
.info-seguranca-email{
  color: rgba(255, 255, 255, 0.45);
}
.links-item{
  text-decoration: none;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.8);
}
.link-list li{
  margin-left: 8px;
}
.links-item a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
.links-item a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.unstyle-link{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
.unstyle-link:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.footer-line{
  height: 2px;
  background-color: rgba(0, 0, 0, 0.6);
}
.footer-line2{
  height: 3px;
  background-color: rgba(41, 128, 185, 0.9);
}

/*Responsividade*/
@media (max-width: 767px){
  .text-quem-somos{
    text-align-last: center;
}
}
@media (max-width: 991px){
  .banner-text{
    width: auto;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .navbar-collapse{
    width: 35%;
    margin: auto;
}

}
@media (min-width: 768px) and (max-width: 991px){ 
.card {
    min-height: 415px;
}

}
@media (min-width: 992px) and (max-width: 1200px) { 
.card {
    min-height: 325px;
}
}



.navbar-toggler span {
   display: block;
   background-color: #ffffff;
   height: 3px;
   width: 25px;
   margin-top: 4px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   position: relative;
   left: 0;
   opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}

.btn-login{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
}
/*-- END Menu responsive --*/
